body {
    font-family: 'Montserrat', sans-serif;
    border: 4px solid #000;
}

.header {
    min-height: 72px;
    padding: 40px 0 15px 0;
    font-weight: bold;
}

.header-link {
    text-align: right;
    /* margin: 0 20px; */
}

.header-link:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.logo {
    border: 4px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    text-decoration: none;
    color: #000;
}

.logo-text:hover {
    text-decoration: none;
    color: #000;

}

.title {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px 10px 15px 40px;
    text-align: right;
    margin-bottom: -10px;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .title {
        margin-bottom: -10px;
    }
}

.picture {
    width: 100%;
    /* height: 400px; */
    /* background-color: grey; */
    margin-bottom: 20px;
}

.chapter {
    font-weight: bold;
    font-size: 1rem;
}

.chapter a {
    color: #000;
}

.text {
    text-align: justify;
}

.cat {
    position:absolute;
    height: 350px;
    margin-left: -40px;
}